.DS_Store
*.o
Thumbs.db
*.suo
*.user*
*.d

*/*/*.xcodeproj/project.xcworkspace/
*/*/*.xcodepro
*/*/*/xcuserdata/

*/Qt/*-build-*/
*/Qt/Project/*.pro.user*

*/android/source/.settings/
*/android/source/bin/
*/android/source/gen/
*/android/source/libs/
*/android/source/obj/
*/android/source/res/drawable/
*/android/source/res/raw/
*/android/workspace/

*/windows*/*.opensdf
*/windows*/*.sdf
*/windows*/*.suo
*/windows*/Bin
*/windows*/ipch
*/windows*/*/obj
*/windows*/*/*.user
*/windows*/*/PerfLogs
*/windows*/PhoneXamlDirect3DApp/Resources/Packaged/*